body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    background-color:  rgba(254, 167, 38, 0.1) !important;
}
.ubuntu-regular {
    font-family: "Ubuntu", system-ui;
    font-weight: 400;
    font-style: normal;
}  
form {
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.bold{
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.form-check-input{
    border:solid black 1px !important;
}
canvas{
    background: white;
}
@media print {
    body{
        background: white !important;
    }
    
    .no-imprimir {
        display: none;
    }
}